@font-face {
    font-family: "Merriweather-Bold";
    src: url('../fonts/Merriweather-Bold.woff2') format('woff2'), url('../fonts/Merriweather-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1,
h2,
h3 {
    font-family: "Merriweather-Bold", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 120%;
    color: #000;
}

h2 {
    margin-bottom: 32px;
}

body {
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 154.8%;
    color: #777777;
}

.light {
    font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 100%;
    color: #000;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.block {
    display: block;
}

.container {
    max-width: 1442px;
    padding: 0 150px 0 150px;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    margin-bottom: 35px;
}

.header__list {
    display: flex;
    margin-top: 14px;
}

.header__list-item:not(:last-child) {
    margin-right: 46px;
}

/* BURGER */

.menu-button {
    margin-bottom: 17px;
    border: none;
    cursor: pointer;
    transform: translateY(5px);
    transition: all 0.3s ease;
}

.menu-button:active svg rect {
    fill: #7943A4;
}

.menu-button:active {
    transform: translateX(1px);
}

.header__menu {
    position: absolute;
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 914px;
    padding: 33px 0 19px 0;
    background-color: white;
    transition: transform .3s ease-in-out;
    transform: none;
    background-image: url(../img/background-menu.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.header__menu-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px;
}

.header__menu.is-active {
    transform: translateX(-103%);
}

.header__menu-link {
    font-family: "Merriweather-Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    transition: background-color, color .3s ease;
}

.header__menu-item {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
    color: #771373;
    margin-top: 59px;
}

.menu-button__svg {
    width: 35px;
    height: 35px;
    color: #771373;
}

/* HERO */

.hero {
    margin-bottom: 142px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    width: 27%;
}

.hero-heading {
    width: 360px;
    font-size: 55px;
    line-height: 100%;
}

.hero__list {
    margin-top: 208px;
}

.hero__list-item:not(:last-child) {
    margin-bottom: 25px;
}

.hero__list-img {
    margin-right: 30px;
}

.hero__list-img svg {
    color: #47093E;
}

.hero__list-link {
    display: flex;
    align-items: center;
    width: 250px;
}

.link-border {
    font-size: 18px;
    line-height: 4px;
    color: #590D56;
    position: relative;
    max-width: 125px;
    height: 12px;
    border-bottom: 1px solid #590D56;
    transition: background-color, color, border-bottom .3s ease;
}

/* HERO SWIPER */

.hero__right {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    max-width: 825px;
    width: 100%;
}

.hero__right-content {
    height: 462px;
    position: relative;
    display: flex;
    align-items: center;
}

.hero__right-swiper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.hero__right-image1 {
    z-index: 4;
    background: url(../img/Group150.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__right-image2 {
    z-index: 4;
    background: url(../img/Group151.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__right-image3 {
    z-index: 4;
    background: url(../img/Group152.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__right-navigation {
    z-index: 6;
    transform: translateX(33px);
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.hero__right-arrow {
    position: inherit;
    font-size: 16px;
}

.hero__right-arrow svg {
    color: white;
}

.hero__right-arrows {
    transform: translate(8px, 3px);
    margin-left: auto;
    margin-right: auto;
    width: 167px;
    display: flex;
    justify-content: space-between;
}

:root {
    --swiper-navigation-size: 0;
}

.hero__right-button {
    width: 263px;
    height: 67px;
    z-index: 2;
    border: 1px solid white;
    border-radius: 33.5px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
    margin-top: 70px;
    cursor: pointer;
    transition: opacity .3s ease;
}

/* HERO WAVES */

.content-wrap {
    position: absolute;
    width: 100%;
    top: 13vh;
    z-index: -1;
}

.waves {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-bottom: -10.49px;
    min-height: 100px;
    max-height: 400px;
}

.content:nth-child(2) {
    transform: rotate(-180deg);
    margin-top: 6px;
}

.parallax>use {
    animation: move 45s cubic-bezier(.17, .67, 0, .98) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* COMPLEX */

.complex {
    margin-bottom: -50px;
}

.marquee-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 103px;
}

.marquee {
    border-top: 1px solid #47093E;
    border-bottom: 1px solid #47093E;
    font-size: 48px;
    line-height: 45px;
    color: #590D56;
    padding: 24px 0;
    white-space: nowrap;
    text-transform: uppercase;
    animation: marquee 45s infinite linear;
    cursor: pointer;
}

.marquee::after {
    cursor: pointer;
    content: "ПОЛУЧИТЬ СКИДКУ 10% >>> ПОЛУЧИТЬ СКИДКУ 10% >>> ПОЛУЧИТЬ СКИДКУ 10% \\\\";

}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-50%)
    }
}

.complex__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 119px;
}

.complex__list-item {
    display: flex;
    align-items: center;
}

.complex__list-text {
    transform: translateY(-5px);
    font-family: "Merriweather-Bold", Arial, Helvetica, sans-serif;
    color: #242424;
    margin-left: 30px;
    max-width: 166px;
    width: 100%;
}

.complex__list-text3 {
    max-width: 215px;
    width: 100%;
}

.complex__list-tippy {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    transform: translateY(4px);
    border: none;
    background-color: transparent;
}

.tippy-popper {
    max-width: 270px;
}

.tippy-box {
    text-align: center;
}

.tippy-box[data-theme~='projects'] {
    background-color: #590D56;
    color: #ffffff;
}

.tippy-box[data-theme~='projects'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #590D56;
}

.tippy-box[data-theme~='projects'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #590D56;
}

.tippy-box[data-theme~='projects'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #590D56;
}

.tippy-box[data-theme~='projects'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #590D56;
}

.complex__action {
    display: flex;
    justify-content: space-between;
}

.complex__action-left {
    margin-right: 30px;
    width: 30%;
}

.complex__action-right {
    max-width: 848px;
    width: 100%;
}

.complex__action-item {
    border-top: 1px solid #47093E;
    height: 194px;
}

.last {
    border-bottom: 1px solid #47093E;
}

.complex__action-item {
    display: flex;
    position: relative;
    justify-content: center;
}

.complex__action-link {
    display: flex;
    white-space: nowrap;
    font-size: 18px;
    line-height: 21px;
    color: #590D56;
    position: absolute;
    left: 0;
    bottom: 32px;
    height: 19px;
    border-bottom: 1px solid #590D56;
    transition: background-color, color, border-bottom .3s ease;
}

.complex__action-circle {
    width: 134px;
    height: 134px;
    background-color: #590D56;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.circle1 {
    position: absolute;
    left: 11%;
    top: 7%;
}

.circle2 {
    position: absolute;
    right: 0;
    top: 19%;
}

.circle3 {
    position: absolute;
    left: 6%;
    top: -10%
}

.circle4 {
    position: absolute;
    right: 5%;
    bottom: -12%;
}

.circle5 {
    position: absolute;
    left: 14%;
    bottom: -39%;
}

.circle1 svg {
    width: 92%;
    height: 92%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    animation: rotate 45s infinite linear;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.circle2 svg {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    animation: scalex 7s infinite linear;
}

@keyframes scalex {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

.circle3 svg {
    width: 90%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    animation: pulse 4s infinite linear;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.circle4 svg {
    width: 100%;
    height: 100%;
    transform: scale(1.2, 1.1);
    animation: blinker 4s infinite linear;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.circle5 svg {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    animation: leaves 6s infinite ease-in-out;
}

@keyframes leaves {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(.90);
    }

    100% {
        transform: scale(1.0);
    }
}

.complex__action-text {
    transform: translateX(40px);
    margin-top: auto;
    margin-bottom: auto;
    width: 342px;
}

/* PRODACTION */

.production {
    min-height: 858px;
    height: 100%;
    position: relative;
    margin-bottom: 87px;
}

.production__background {
    position: absolute;
    top: 8px;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url(../img/production-back.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.production-content {
    width: 100%;
    padding-top: 350px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.production__left {
    margin-right: 30px;
    align-self: flex-start;
}

.production__left-heading {
    white-space: nowrap;
}

.production__right {
    max-width: 650px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.production__swiper {
    max-width: 758px;
}

.swiper-button-disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.production__swiper-slide {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
}

.production__swiper-slide img {
    display: block;
    max-width: 458px;
    width: 100%;
    max-height: 270px;
    height: 100%;
    cursor: pointer;
}

.production__swiper-slide::after {
    content: '';
    position: absolute;
    width: 67px;
    height: 67px;
    top: 35%;
    bottom: 50%;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.production__right-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 68px;
    height: 139px;
}

.production__right-arrow {
    position: inherit;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.production__right-arrow2 {
    transform: translateY(19px);
}

.production__block {
    display: flex;
    justify-content: end;
}

.production__block-button {
    width: 263px;
    height: 67px;
    border: 1px solid white;
    border-radius: 33.5px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
    margin-top: 45px;
    cursor: pointer;
    transition: background-color .4s ease, color .4s ease;
}

/* MODAL */

.production__modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .3);
}

.show {
    display: flex;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 38px;
    width: 16px;
    height: 16px;
}

.production__modal-container {
    display: flex;
    background-color: #FFFFFF;
    width: 900px;
    height: 500px;
    position: relative;
}

.modal__close-image {
    color: #000000;
    width: 21px;
    height: 21px;
}

.production__modal-picture {
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.production__modal-right {
    width: 500px;
    height: 500px;
    padding: 121px 58px 121px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.production__modal-name {
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.production__modal-picname {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.production__modal-years {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.production__modal-text {
    font-weight: 400;
    color: #333333;
}

/* OPINION */

.opinion__content {
    display: flex;
    justify-content: space-between;
}

.opinion__left {
    margin-right: 60px;
}

.opinion__right {
    margin-top: 8px;
    max-width: 848px;
    width: 100%;
}

.opinion__swiper {
    position: relative;
}

.opinion__swiper-slide img {
    width: 100%;
}

.opinion__swiper-wrapper {
    position: relative;
    margin-bottom: 32px;
}

.swiper-pagination {
    position: inherit;
    text-align: left;
}

.opinion__seiper-slide {
    cursor: pointer;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: white;
    opacity: inherit;
    border: 1px solid #590D56;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background: #590D56;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6.6px);
}

/* INFORMATION */

.information {
    height: 100%;
    min-height: 857px;
    position: relative;
    margin-bottom: 57px;
}

.information__background {
    position: absolute;
    top: -38px;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-image: url(../img/information-back.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.information__content {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.information__left {
    margin-right: 30px;
    width: 25%;
}

.information__left-promo {
    color: white;
}

.information__right {
    margin-top: 5px;
    width: 100%;
    max-width: 849px;
    display: flex;
    justify-content: space-between;
}

.information__right-rectangle {
    max-width: 263px;
    width: 100%;
    min-height: 456px;
    height: 100%;
    background-image: url(../img/information1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.information__right-rectangle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information__right-text1 {
    padding: 29px 0 0 29px;
    color: white;
    font-size: 36px;
    z-index: 2;
}

.information__right-text2 {
    padding: 25px 0 0 22px;
    color: white;
    font-size: 36px;
    z-index: 2;
}

.information__right-text3 {
    padding: 25px 0 0 28px;
    color: white;
    font-size: 36px;
    z-index: 2;
}

.information__right-text4 {
    padding: 32px 0 0 22px;
    color: white;
    font-size: 36px;
    z-index: 2;
}

.information__right-lasttext {
    padding: 31px 0 0 21px;
    max-width: 250px;
}

.information__right-square {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.information__right-half1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 556px;
}

.information__right-quarter1 {
    max-width: 263px;
    min-height: 263px;
    background-image: url(../img/information2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.information__right-quarter1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information__right-quarter2 {
    max-width: 263px;
    min-height: 263px;
    background-image: url(../img/information3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.information__right-quarter2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information__right-half2 {
    max-width: 556px;
    width: 100%;
    min-height: 165px;
    background-color: #47093E;
}

.information__button-container {
    display: flex;
    justify-content: flex-end;
}

.information__button {
    width: 263px;
    height: 67px;
    border: 1px solid #47093E;
    border-radius: 33.5px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #47093E;
    margin-top: 36px;
    cursor: pointer;
    transition: background-color .4s ease, color .4s ease;
}

/* WHERE */

.where {
    margin-bottom: 33px;
}

.where__content {
    display: flex;
    justify-content: space-between;
}

.where__left {
    margin-right: 30px;
}

.where__right {
    display: flex;
    flex-direction: column;
}

.where__right-top img {
    width: 100%;
}

.where__right-list {
    margin-top: 14px;
    display: flex;
}

.where__right-item:not(:last-child) {
    margin-right: 30px;
}

.where__button {
    width: 263px;
    height: 67px;
    border: 1px solid #47093E;
    background-color: transparent;
    border-radius: 33.5px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #47093E;
    cursor: pointer;
    transition: background-color .4s ease, color .4s ease;
}

/* FOOTER */

.footer__background {
    height: 61px;
    background: linear-gradient(360deg, rgba(71, 9, 62, 0.5) -7.14%, rgba(255, 255, 255, 0) 100%);
    background-blend-mode: multiply;
}

.footer__heading {
    display: flex;
    justify-content: center;
    padding-top: 29px;
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    font-size: 31px;
    line-height: 100%;
    color: #540C50;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left-link {
    font-size: 12px;
    line-height: 100%;
    color: #7A7A7A;
}

.footer__middle-link {
    display: block;
    font-size: 12px;
    line-height: 100%;
    color: #7A7A7A;
    margin-bottom: 49px;
}

.footer__middle-text {
    font-size: 14px;
    line-height: 130%;
    color: #828282;

}

.footer__right-list {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.footer__right-item svg {
    cursor:pointer;
}

.footer__right-item:not(:last-child) {
    margin-right: 40px;
}

.footer__right-pharm {
    display: flex;
}

.footer__right-logo {
    margin-right: 15px;
}

.footer__right-text {
    max-width: 210px;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

/* MEDIA */

@media (max-width: 1439px) {

    /* OPINION */
    .opinion__right {
        max-width: 645px
    }

    /* INFORMATION */
    .information__right {
        max-width: 645px;
    }

    .information__right-rectangle {
        max-width: 208px;
        min-height: 362px
    }

    .information__right-quarter1 {
        max-width: 190px;
        min-height: 190px;
    }

    .information__right-quarter2 {
        max-width: 190px;
        min-height: 190px;
    }

    .information__right-half1 {
        max-width: 395px;
    }

    .information__right-half2 {
        max-width: 395px;
        min-height: 125px;
    }

    .information__right-text1 {
        padding: 15px 0 0 15px;
        font-size: 28px;
    }

    .information__right-text2 {
        padding: 10px 0 0 10px;
        font-size: 28px;
    }

    .information__right-text3 {
        padding: 10px 0 0 10px;
        font-size: 28px;
    }

    .information__right-lasttext {
        padding: 15px 0 0 15px;
        font-size: 28px;
    }

    /* WHERE */
    .where__content {
        flex-direction: column;
    }

    .where__left {
        width: 50%;
    }

    .where__right {
        align-items: center;
    }

    /* FOOTER */
    .footer__heading {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    
    /* HOVERS */
    .hero__right-button:hover:not(:focus-visible) {
        opacity: 0.7;
    }

    .production__block-button:hover:not(:focus-visible) {
        background-color: white;
        color: #590D56;
    }

    .information__button:hover:not(:focus-visible) {
        background-color: #590D56;
        color: white;
    }

    .where__button:hover:not(:focus-visible) {
        background-color: #590D56;
        color: white;
    }
}

@media (max-width: 1239px) {

    /* HERO */
    .hero {
        margin-bottom: 242px;
    }

    .hero-heading {
        font-size: 36px;
        width: 310px
    }

    .hero__list {
        margin-top: 55px;
    }

    .hero__right {
        margin-top: 0;
        max-width: 490px;
    }

    .hero__right-content {
        height: 310px;
    }

    .waves {
        height: 40vh;
    }

    .hero__right-navigation {
        transform: none;
    }

    .hero__list-img {
        margin-right: 15px;
    }

    .hero__list-img svg {
        width: 50px;
        height: 50px;
        color: white;
    }

    .link-border {
        font-size: 18px;
        color: white;
        border-color: white;
    }

    /* COMPLEX */
    .complex__action {
        flex-direction: column;
    }

    .complex__action-left {
        width: 50%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .complex__action-right {
        align-self: center;
    }

    .marquee-container {
        margin-bottom: 75px;
    }

    .complex__list {
        margin-bottom: 70px;
    }

    .complex__list-text {
        margin-left: 15px;
    }

    .complex__list-text3 {
        max-width: 160px;
    }

    .complex__list-img svg {
        width: 50px;
        height: 50px;
    }

    .complex__list-tippy {
        margin-left: 0;
    }

    .circle1 {
        left: 8%;
        top: 5%;
    }

    .circle5 {
        left: 5%;
        bottom: 44%;
    }

    /* PRODUCTION */
    .production {
        min-height: 739px;
    }

    .production-content {
        padding-top: 140px;
        flex-direction: column;
        align-items: center;
    }

    .production__background {
        top: 7px
    }

    /* MODAL */
    .production__modal-container {
        height: 594px;
        width: 594px;
    }

    .production__modal-picture {
        width: 264px;
        height: 594px;
    }

    .production__modal-right {
        width: 330px;
        height: 594px;
        padding: 122px 52px 90px 42px;
    }

    /* OPINION */
    .opinion__content {
        flex-direction: column;
    }

    .opinion__left {
        width: 50%;
    }

    .opinion__right {
        max-width: 645px;
        align-self: center;
    }

    .swiper-pagination {
        text-align: center;
    }

    /* INFORMATION */
    .information {
        min-height: 739px;
        margin-bottom: 87px;
    }

    .information__background {
        top: -22px;
    }

    .information__content {
        padding-top: 87px;
        flex-direction: column;
    }

    .information__left {
        margin-right: 0;
        width: 50%;
    }

    .information__right {
        margin-top: 10px;
        align-self: center;
    }

    .information__button-container {
        justify-content: center;
    }

    /* WHERE */
    .where__right-list {
        flex-direction: column;
    }

    .where__right-item:not(:last-child) {
        margin-right: 0;
    }

    .where__right-item {
        margin-bottom: 20px;
    }

    .where__right-list {
        margin-top: 14px;
    }

    /* FOOTER */
    .footer__background {
        height: 45px;
    }

    .footer__heading {
        padding-top: 20px;
        font-size: 28px;
        margin-bottom: 30px;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__middle {
        display: flex;
        justify-content: space-between;
        text-align: center;
        height: 75px;
        margin-bottom: 20px;
        border-bottom: 1px solid #7A7A7A;
    }

    .footer__middle-link {
        margin-top: auto;
        margin-bottom: auto;
    }

    .footer__middle-text {
        margin-top: auto;
        margin-bottom: auto;
    }

    .footer__right {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

@media (max-width: 1023px) {

    body::-webkit-scrollbar {
        width: 0;
    }

    body {
        -ms-overflow-style: none;
        overflow: hidden;
    }

    body {
        overflow: -moz-scrollbars-none;
    }

    .container {
        padding: 0 75px 0 75px;
    }

    /* HEADER */
    .header__logo svg {
        width: 175px;
    }

    .header__list-search svg {
        width: 34px;
    }

    .header__list-mark svg {
        width: 31px;
    }

    .menu-toggle--hamburger svg {
        width: 43px;
    }

    .header__menu {
        height: 550px;
    }

    .header__menu-item {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .header__menu-buttons {
        margin-bottom: 0;
    }

    /* HERO */

    .hero {
        margin-bottom: 177px;
    }

    .waves {
        height: 22vh;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-left {
        width: 100%;
    }

    .hero-heading {
        width: 100%;
    }

    .hero__list {
        display: none;
    }

    .hero__right {
        flex-direction: row;
        max-width: none;
        margin-top: 70px;
    }

    .hero__right-content {
        width: 100%;
        max-width: 500px;
    }

    .hero__right-navigation {
        margin-top: auto;
        margin-bottom: auto;
        width: 210px;
    }

    .hero__right-arrows {
        width: 140px
    }

    .hero__right-arrow svg {
        width: 40px;
    }

    .hero__right-button {
        transform: translateX(10px);
        width: 209px;
        height: 48px;
        margin-top: 32px;
        font-size: 16px;
    }

    /* COMPLEX */

    .complex__action-left {
        width: 100%;
    }

    .marquee {
        font-size: 36px;
        padding: 13px 0;
    }

    .marquee-container {
        margin-bottom: 40px;
    }

    .complex__list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }

    .complex__list-item {
        margin-bottom: 30px;
    }

    .complex__list-img svg {
        width: 70px;
        height: 70px;
    }

    .complex__list-text {
        max-width: 100%;
        font-size: 18px;
    }

    .complex__list-tippy {
        margin-left: 10px;
        transform: translateY(-11px);
    }

    .complex__action-item {
        height: 142px;
    }

    .complex__action-link {
        font-size: 14px;
    }

    .complex__action-text {
        font-size: 24px;
    }

    .complex__action-circle {
        width: 100px;
        height: 100px;
    }

    .circle1 {
        left: 12%;
        top: 5%;
    }

    /* PRODUCTION */
    .production {
        min-height: 611px;
    }

    .production-content {
        padding-top: 115px;
    }

    .production__background {
        top: 33px;
    }

    .production__right-arrow svg {
        width: 40px;
        height: 40px;
    }

    .production__block {
        justify-content: center;
    }

    .production__block-button {
        color: #47093E;
        border-color: #47093E;
    }


    .production__block-button {
        width: 209px;
        height: 48px;
        margin-top: 32px;
        font-size: 16px
    }

    /* MODAL */
    .production__modal-container {
        width: 668px;
        height: 594px;
    }

    .production__modal-picture {
        width: 301px;
        height: 594px;
    }

    .production__modal-right {
        width: 367px;
        height: 594px;
        padding: 110px 70px 80px 50px;
    }

    /* OPINION */
    .opinion__right {
        max-width: 530px;
    }

    /* INFORMATION */
    .information {
        min-height: 611px;
    }

    .information__content {
        padding-top: 50px;
    }

    .information__background {
        top: -44px;
    }

    .information__left {
        width: 100%;
    }

    .information__right {
        max-width: 570px;
    }

    .information__right-rectangle {
        max-width: 202px;
        min-height: 352px;
    }

    .information__right-quarter1 {
        max-width: 169px;
        min-height: 169px;
    }

    .information__right-quarter2 {
        max-width: 169px;
        min-height: 169px;
    }

    .information__right-half1 {
        max-width: 350px;
    }

    .information__right-half2 {
        max-width: 350px;
        min-height: 155px;
    }

    .information__right-text1 {
        padding: 15px 0 0 15px;
        font-size: 26px;
    }

    .information__right-text2 {
        padding: 10px 0 0 10px;
        font-size: 26px;
    }

    .information__right-text3 {
        padding: 10px 0 0 10px;
        font-size: 26px;
    }

    .information__right-lasttext {
        padding: 15px 0 0 15px;
        font-size: 26px;
    }

    .information__button {
        width: 209px;
        height: 48px;
        margin-top: 32px;
        font-size: 16px;
    }

    /* WHERE */
    .where__left {
        width: 100%;
    }

    .where__button {
        width: 209px;
        height: 48px;
        font-size: 16px;
    }

    .where__right-top {
        max-width: 530px;
    }

    /* FOOTER */
    .footer__heading {
        padding-top: 15px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .footer__middle-text {
        font-size: 12px;
    }

    .footer__right-text {
        font-size: 14px;
    }
}

@media (max-width: 767px) {

    .container {
        padding: 0 15px 0 14px;
    }

    h2 {
        margin-bottom: 25px;
    }

    /* HEADER */

    .header {
        min-height: 57px;
        margin-bottom: 14px;
    }

    .header__logo svg {
        width: 135px;
    }

    .header__list {
        align-items: center;
        margin-top: 13px;
        height: 35px;
    }

    .header__list-search svg {
        width: 24px;
    }

    .header__list-mark svg {
        width: 21px;
        height: 25px;
    }

    .menu-toggle--hamburger svg {
        width: 33px;
        height: 21px;
    }

    .header__list-item:not(:last-child) {
        margin-right: 12px;
    }

    .header__list-search {
        transform: translateY(0);
    }

    /* HERO */
    .hero {
        margin-bottom: 50px;
    }

    .waves {
        height: 20vh;
    }

    .hero-heading {
        font-size: 45px;
        line-height: 89%;
    }

    .hero__right {
        align-items: center;
        margin-top: 5px;
        flex-direction: column;
    }

    .hero__right-content {
        height: 265px;
    }

    .hero__right-arrows {
        width: 84px;
    }

    .hero__right-navigation {
        width: 134px;
    }

    .hero__right-arrow svg {
        width: 34px;
        color: #5B0E58;
    }

    .hero__right-button {
        width: 132px;
        height: 34px;
        font-size: 13.8px;
        line-height: 16px;
        color: #5B0E58;
        border-color: #5B0E58;
    }

    .hero__right-content {
        height: 242px;
    }

    .hero__right-image1 {
        background: url(../img/venarus-320.png);
        background-position: 50% 23%
    }

    .hero__right-image2 {
        background-position: 50% 23%
    }

    .hero__right-image3 {
        background-position: 50% 100%
    }

    /* COMPLEX */
    .marquee {
        font-size: 28px;
        padding: 8px 0;
    }

    .marquee-container {
        margin-bottom: 25px;
    }

    .complex__list-item {
        margin-bottom: 25px;
    }

    .complex__list-img svg {
        width: 50px;
        height: 50px;
    }

    .complex__list-text {
        max-width: 100%;
        font-size: 14px;
    }

    .complex__list-tippy {
        margin-left: 7px;
        transform: translateY(-9px);
    }

    .complex__list-tippy svg {
        width: 25px;
        height: 25px;
    }

    .complex__action-promo {
        font-size: 14px;
    }

    .complex__action-item {
        height: 110px;
        justify-content: flex-start;
    }

    .complex__action-link {
        font-size: 16px;
        left: inherit;
        right: 0;
        bottom: 13px;
    }

    .complex__action-circle {
        width: 70px;
        height: 70px;
        right: 2%;
        left: inherit;
        bottom: inherit;
        top: 2%;
    }

    .complex__action-text {
        transform: none;
        font-size: 18px;
        width: 270px;
    }

    /* PRODUCTION */
    .production {
        min-height: 471px;
        margin-bottom: 50px;
    }

    .production-content {
        padding-top: 100px;
    }

    .production__background {
        top: 41px;
    }

    .production__swiper-slide img {
        max-width: 385px;
        max-height: 195px;
    }

    .production__right-arrow svg {
        width: 34px;
        height: 34px;
    }

    .production__swiper-slide::after {
        width: 50px;
        height: 50px;
    }

    .production__right-navigation {
        height: 88px;
    }

    .production__block-button {
        width: 132px;
        height: 34px;
        font-size: 13.8px;
        line-height: 16px;
    }

    /* MODAL */
    .production__modal-container {
        flex-direction: column;
        width: 290px;
        height: 590px;
    }

    .modal__close {
        top: 10px;
        right: 10px;
    }

    .production__modal-picture {
        width: 290px;
        height: 200px;
    }

    .production__modal-right {
        width: 290px;
        height: 400px;
        padding: 17px 21px 26px 18px;
    }

    /* OPINION */
    .opinion__left {
        width: 100%;
    }

    .opinion__left-promo {
        font-size: 14px;
    }

    .opinion__right {
        max-width: 385px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 30px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4.4px);
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    /* INFORMATION */
    .information {
        min-height: 460px;
        margin-bottom: 50px;
    }

    .information__content {
        padding-top: 15px;
    }

    .information__background {
        top: -44px;
    }

    .information__right {
        max-width: 310px;
    }

    .information__right-rectangle {
        max-width: 100px;
        min-height: 175px;
    }

    .information__right-quarter1 {
        max-width: 95px;
        min-height: 95px;
    }

    .information__right-quarter2 {
        max-width: 95px;
        min-height: 95px;
    }

    .information__right-half1 {
        max-width: 198px;
    }

    .information__right-half2 {
        max-width: 198px;
        min-height: 63px;
    }

    .information__right-text1 {
        padding: 8px 0 0 8px;
        font-size: 16px;
    }

    .information__right-text2 {
        padding: 8px 0 0 8px;
        font-size: 14px;
    }

    .information__right-text3 {
        padding: 8px 0 0 8px;
        font-size: 14px;
    }

    .information__right-lasttext {
        padding: 8px 0 0 8px;
        font-size: 16px;
    }

    .information__button {
        width: 132px;
        height: 34px;
        font-size: 13.8px;
        line-height: 16px;
        margin-top: 25px;
    }

    /* WHERE */
    .where__right-top {
        max-width: 385px;
    }

    .where__button {
        width: 132px;
        height: 34px;
        font-size: 13.8px;
        line-height: 16px;
    }

    /* FOOTER */
    .footer__background {
        height: 33px;
    }

    .footer__heading {
        font-size: 20px;
    }

    .footer__middle {
        flex-direction: column;
        text-align: left;
    }

    .footer__right {
        flex-direction: column-reverse;
    }

    .footer__right-pharm {
        margin-bottom: 12px;
    }

    .footer__right-list {
        margin-bottom: 0;
    }
}

@media (max-width: 520px) {
    h2 {
        margin-bottom: 15px;
    }

    /*HERO*/
    .hero {
        margin-bottom: 50px;
    }

    .hero__right-image1 {
        background-position: 50% 53%
    }

    .hero__right-image2 {
        background-position: 43% 51%;
    }

    .hero__right-image3 {
        background-size: 90%;
        background-position: 93% 51%
    }

    .hero__right-navigation {
        width: 154px;
    }

    .hero__right-arrows {
        width: 101px;
    }

    .hero__right-arrow2 {
        transform: translateX(-17px);
    }

    .hero__right-button {
        margin-top: 36px;
    }

    /* COMPLEX */
    .marquee {
        font-size: 22px;
        padding: 4px 0;
    }

    .complex__list {
        align-items: flex-start;
    }

    .complex__list-text {
        margin-left: 10px;
        font-size: 12px;
    }

    .complex__list-tippy {
        margin-left: 5px;
        transform: translateY(-13px);
    }

    .complex__action-left {
        margin-bottom: 15px;
    }

    .complex__action-circle {
        width: 65px;
        height: 65px;
    }

    .complex__action-text {
        font-size: 14px;
        width: 185px;
    }

    /* PRODUCTION */
    .production {
        min-height: 415px;
    }

    .production__background {
        top: 18px;
    }

    .production-content {
        padding-top: 100px;
    }

    .production__swiper {
        max-width: 100%;
    }

    .production__right {
        flex-direction: column;
    }

    .production__swiper-slide img {
        max-width: 244px;
        max-height: 153px;
    }

    .production__swiper-slide::after {
        width: 40px;
        height: 40px;
    }

    .production__right-arrows {
        display: flex;
    }

    .production__right-arrow1 {
        transform: translateY(19px);
    }

    .production__right-navigation {
        height: 30px;
    }

    .production__right-arrow {
        color: #5B0E58;
    }

    /* OPINION */
    .opinion__right {
        max-width: 244px;
    }

    /* INFORMATION */
    .information {
        min-height: 380px;
    }

    .information__background {
        top: -90px;
    }

    .information__left-promo {
        font-size: 14px;
    }

    .information__right {
        max-width: 248px;
    }

    .information__right-rectangle {
        max-width: 78px;
        min-height: 135px;
    }

    .information__right-quarter1 {
        max-width: 80px;
        min-height: 80px;
    }

    .information__right-quarter2 {
        max-width: 80px;
        min-height: 80px;
    }

    .information__right-half1 {
        max-width: 165px;
    }

    .information__right-half2 {
        max-width: 165px;
        min-height: 40px;
    }

    .information__right-text1 {
        padding: 6px 0 0 6px;
        font-size: 12px;
    }

    .information__right-text2 {
        padding: 6px 0 0 6px;
        font-size: 12px;
    }

    .information__right-text3 {
        padding: 6px 0 0 6px;
        font-size: 12px;
    }

    .information__right-lasttext {
        padding: 6px 0 0 6px;
        font-size: 12px;
    }

    /* WHERE */
    .where__left-promo {
        font-size: 14px;
    }

    .where__right-top {
        max-width: 244px;
    }

}

@media (max-width: 400px) {

    /*HERO*/
    .hero__right-image2 {
        background-size: 150%;
        background-position: 43% 51%;
    }

    .hero__right-image3 {
        background-size: 128%;
        background-position: 93% 51%
    }
}
